<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('./partials/head.ejs') %>
  <!-- Head -->

  <body>
    <!-- Navbar -->
    <%- include('./partials/navbar.ejs') %>
    <!-- Navbar -->

    <!-- Main -->
    <!-- 404 -->
    <div class="container">
      <div class="row">
        <div class="col-4 offset-4">
          <div class="page text-center">
            <h3>Page Not Found</h3>
            <img class="img-fluid" src="/images/404.svg" alt="404" />
            <a class="lead" href="/">Back to Home . . .</a>
          </div>
        </div>
      </div>
    </div>
    <!-- 404 -->
    <!-- Main -->

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
    <!-- Footer -->
  </body>
</html>
