<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('./partials/head.ejs') %>
  <!-- Head -->

  <body>
    <!-- Navbar -->
    <%- include('./partials/navbar.ejs') %>
    <!-- Navbar -->

    <!-- Main -->
    <!-- Courses -->
    <section class="courses">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title mb-5">
              <h1>Free Courses</h1>
              <hr />
            </div>
          </div>
          <div class="col-4">
            <div class="img mb-4 p-5 shadow-lg rounded-3">
              <img
                class="img-fluid rounded-3 shadow-lg"
                src="/images/react.jpg"
                alt="react"
              />
              <p class="mt-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
                maiores architecto molestias reprehenderit praesentium ipsum.
              </p>
              <button class="btn btn-dark px-4 py-2">Start Now</button>
            </div>
          </div>
          <div class="col-4">
            <div class="img mb-4 p-5 shadow-lg rounded-3">
              <img
                class="img-fluid rounded-3 shadow-lg"
                src="/images/html.jpg"
                alt="html"
              />
              <p class="mt-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
                maiores architecto molestias reprehenderit praesentium ipsum.
              </p>
              <button class="btn btn-dark px-4 py-2">Start Now</button>
            </div>
          </div>
          <div class="col-4">
            <div class="img mb-4 p-5 shadow-lg rounded-3">
              <img
                class="img-fluid rounded-3 shadow-lg"
                src="/images/vue.jpg"
                alt="vue"
              />
              <p class="mt-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
                maiores architecto molestias reprehenderit praesentium ipsum.
              </p>
              <button class="btn btn-dark px-4 py-2">Start Now</button>
            </div>
          </div>
          <div class="col-4">
            <div class="img mb-4 p-5 shadow-lg rounded-3">
              <img
                class="img-fluid rounded-3 shadow-lg"
                src="/images/js.jpg"
                alt="js"
              />
              <p class="mt-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
                maiores architecto molestias reprehenderit praesentium ipsum.
              </p>
              <button class="btn btn-dark px-4 py-2">Start Now</button>
            </div>
          </div>
          <div class="col-4">
            <div class="img mb-4 p-5 shadow-lg rounded-3">
              <img
                class="img-fluid rounded-3 shadow-lg"
                src="/images/c++.jpg"
                alt="c++"
              />
              <p class="mt-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
                maiores architecto molestias reprehenderit praesentium ipsum.
              </p>
              <button class="btn btn-dark px-4 py-2">Start Now</button>
            </div>
          </div>
          <div class="col-4">
            <div class="img mb-4 p-5 shadow-lg rounded-3">
              <img
                class="img-fluid rounded-3 shadow-lg"
                src="/images/python.jpg"
                alt="python"
              />
              <p class="mt-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
                maiores architecto molestias reprehenderit praesentium ipsum.
              </p>
              <button class="btn btn-dark px-4 py-2">Start Now</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Courses -->
    <!-- Main -->

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
    <!-- Footer -->
  </body>
</html>
