<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('./partials/head.ejs') %>
  <!-- Head -->

  <body>
    <!-- Navbar -->
    <%- include('./partials/navbar.ejs') %>
    <!-- Navbar -->

    <!-- Main -->
    <!-- Home -->
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="home">
            <img src="/images/home.svg" alt="home" />
          </div>
        </div>
        <div class="col-6">
          <div class="content ms-5">
            <p>Career Path</p>
            <h1>Web Development Courses</h1>
            <h4 class="mb-3">by Himel</h4>
            <p>
              Go from no-code to an in-demand junior web developer, at a
              fraction of the cost of a bootcamp. Start with the front-end by
              learning HTML, CSS, and JavaScript. Then, master the back-end and
              APIs to round out your full-stack skills.
            </p>
            <p>To start this Career Path, sign up for free today.</p>
            <a href="/courses" class="mt-2 btn btn-dark text-white px-4 py-2"
              >View Courses</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Home -->
    <!-- Main -->

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
    <!-- Footer -->
  </body>
</html>
