<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('./partials/head.ejs') %>
  <!-- Head -->

  <body>
    <!-- Navbar -->
    <%- include('./partials/navbar.ejs') %>
    <!-- Navbar -->

    <!-- Main -->
    <!-- LogIn -->
    <div class="container">
      <div class="row">
        <div class="col-4 offset-4 mt-5 pt-5">
          <div class="blog mt-5 p-5 shadow-lg rounded-3">
            <div class="login-title text-center mb-4 px-3">
              <h2>LogIn Form</h2>
              <hr />
            </div>
            <div class="login-content">
              <form>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="text"
                    name="email"
                    id="email"
                    class="form-control"
                    placeholder="Enter Email . . ."
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input
                    type="password"
                    name="password"
                    id="password"
                    class="form-control"
                    placeholder="*****************"
                    required
                  />
                </div>
                <div class="mt-4 d-grid">
                  <button class="btn btn-dark py-2">LogIn</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- LogIn -->
    <!-- Main -->

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
    <!-- Footer -->
  </body>
</html>
