<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('./partials/head.ejs') %>
  <!-- Head -->

  <body>
    <!-- Navbar -->
    <%- include('./partials/navbar.ejs') %>
    <!-- Navbar -->

    <!-- Main -->
    <!-- LogIn -->
    <div class="container">
      <div class="row">
        <div class="col-4 offset-4 mt-5 pt-5">
          <div class="blog mt-5 p-5 shadow-lg rounded-3">
            <div class="login-title text-center mb-4 px-3">
              <h2>LogIn Form</h2>
              <hr />
            </div>
            <div class="login-content">
              <form>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="text"
                    name="email"
                    id="email"
                    class="form-control"
                    placeholder="Enter Email . . ."
                    required
                  />
                  <div id="email-error"></div>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input
                    type="password"
                    name="password"
                    id="password"
                    class="form-control"
                    placeholder="*****************"
                    required
                  />
                  <div id="password-error"></div>
                </div>
                <div class="mt-4 d-grid">
                  <button class="btn btn-dark py-2">LogIn</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- LogIn -->
    <!-- Main -->

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
    <!-- Footer -->

    <!-- JS -->
    <script>
      const form = document.querySelector('form');
      const emailE = document.getElementById('email');
      const passwordE = document.getElementById('password');
      const emailError = document.getElementById('email-error');
      const passwordError = document.getElementById('password-error');

      form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // reset errors
        emailError.textContent = '';
        passwordError.textContent = '';
        emailE.classList.remove('is-invalid');
        passwordE.classList.remove('is-invalid');

        const email = form.email.value;
        const password = form.password.value;

        try {
          const res = await fetch('/login', {
            method: 'POST',
            body: JSON.stringify({ email, password }),
            headers: { 'Content-Type': 'application/json' },
          });

          const data = await res.json();
          console.log(data);

          if (data.errors) {
            emailE.classList.add('is-invalid');
            emailError.classList.add('invalid-feedback');
            emailError.textContent = data.errors.email;
            passwordE.classList.add('is-invalid');
            passwordError.classList.add('invalid-feedback');
            passwordError.textContent = data.errors.password;
          }
          if (data.user) {
            location.assign('/');
          }
        } catch (err) {
          console.log(err);
        }
      });
    </script>
    <!-- JS -->
  </body>
</html>
